{% extends "index.html" %}

{% block content %}
<style>
  body{
    background: #000; font-family: "Montserrat", sans-serif;}
</style>

<div class="container">
  <h1 style="margin-top: 80px; text-align: center; color: #fff;">Вот ваш файл</h1>
 <div class="item active">
    <div style="text-align: center;">
      <img src="{{ path }}" style="max-width:800px; max-height:500px; display:block; margin-left:auto; margin-right:auto;" alt="{{ url_for('static', filename=path) }}">
    </div>
    <div style="display: flex; justify-content: space-between; margin-top: 20px;">
      <button onclick="document.location='/'" class="btn btn-light" style="font-size: 2em;">На главную</button>
      <form method="post" enctype="multipart/form-data">
        <input class="btn btn-light" type="submit" value="Чекнуть" style="font-size: 2em;">
      </form>
    </div>
  </div>
</div>
{% endblock %}