{% extends "index.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="static/css/signup.css" />
    <div class="bg-behind"></div>
    <div class="container">
        <h1 class="mb-4">Регистрация</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label(class="font-weight-bold") }}
                {{ form.name(size=32, class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.surname.label(class="font-weight-bold") }}
                {{ form.surname(size=32, class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.email.label(class="font-weight-bold") }}
                {{ form.email(size=32, class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="font-weight-bold") }}
                {{ form.password(size=32, class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class="font-weight-bold") }}
                {{ form.confirm_password(size=32, class="form-control") }}
            </div>
            <div class="form-group">
                {{form.submit(class="btn2 btn-light btn-block")}}
            </div>
        </form>
    </div>
{% endblock %}
